/* SKELETON STYLES */
html {
  box-sizing: border-box;
  font-size: 10px;
  overflow: hidden;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  text-align: center;
  font-family: "Inconsolata", monospace;
}

/* BACKGROUND STYLES */
.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("./assets/images/background.jpg") no-repeat center center
    fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index: -1;
}

/* BUTTON STYLES */
button img {
  height: 65px;
  width: 65px;
  filter: invert(1);
  border: 1px solid goldenrod;
  border-radius: 50px;
  box-shadow: 4px 4px 4px goldenrod;
}

button img:hover {
  height: 75px;
  width: 75px;
}

.buttonTodo {
  position: absolute;
  top: 5%;
  left: 5%;
}

.buttonWeather {
  position: absolute;
  bottom: 5%;
  left: 5%;
}

.buttonSettings {
  position: absolute;
  top: 5%;
  right: 5%;
}

.buttonTimedate {
  position: absolute;
  bottom: 5%;
  right: 5%;
}

/* TIMER STYLES */
.display {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.display__time-left {
  font-weight: 100;
  margin-top: 15%;
  font-size: 15rem;
  color: white;
  text-shadow: 8px 8px 0 rgba(190, 26, 26, 0.707);
}

.display__end-time {
  font-size: 4rem;
  color: white;
  text-shadow: 2px 2px 0 rgba(190, 26, 26, 0.707);
}

.timer__controls {
  width: 100%;
}

.timer__button {
  border: 0;
  cursor: pointer;
  color: white;
  width: 125px;
  font-weight: bold;
  font-size: 3rem;
  text-transform: uppercase;
  margin: 0rem 2.5rem;
  border-bottom: 3px solid rgba(0, 0, 0, 0.2);
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  font-family: "Inconsolata", monospace;
  background: rgba(190, 26, 26, 0.707);
  border-radius: 5%;
  box-shadow: 2px 2px 0 rgba(255, 255, 255, 0.707);
}

.timer__button:hover,
.timer__button:focus {
  background: rgba(41, 6, 153, 0.707);
  outline: 0;
}

/* CONTAINER STYLES */
.todo,
.weather {
  background: rgba(255, 255, 255, 0.707);
  height: fit-content;
  z-index: 1;
  border-radius: 5%;
  box-shadow: 8px 8px 0 rgba(41, 6, 153, 0.707);
}

.todo {
  width: 350px;
}

.settings,
.timedate {
  background: rgba(255, 255, 255, 0.707);
  height: fit-content;
  width: 350px;
  z-index: 1;
  border-radius: 5%;
  box-shadow: 8px 8px 0 rgba(190, 26, 26, 0.707);
}

h1 {
  color: goldenrod;
  font-weight: bold;
}

/* TODO STYLES */
.todo,
.settings {
  padding: 1rem;
}

.todo input[type="text"],
.todo input[type="text"]:focus {
  color: #fff;
  border: none;
  background: rgba(190, 26, 26, 0.2);
  max-width: 400px;
}

.todos li,
.addTodo,.clock,.date, .weatherCard {
  /* background: #423a6f; */
  font-weight: bold;
  font-size: 16px;
  color: goldenrod;
}

#search,
#addTodo {
  font-weight: bold;
  font-size: 16px;
  color: rgba(41, 6, 153);
}

.filtered {
  /* !important increases precendence over other styles */
  display: none !important;
}

.delete {
  cursor: pointer;
}

/* WEATHER STYLES */
.weather {
  padding: 1rem;
  width: 285px;
  font-weight: bold;
}

.weather label {
  font-size: 12px;
}

.weather input[type="text"],
.weather input[type="text"]:focus {
  font-size: 16px;
  font-weight: bold;
  color: rgba(41, 6, 153);
  border: none;
  background: rgba(190, 26, 26, 0.2);
  max-width: 285px;
  margin-bottom: 5%;
}

.weatherCard {
  height: 263px;
  border-radius: 5%;
}

.card-img-top {
  height: 263px;
  border-radius: 5%;
}

.icon {
  position: absolute;
  bottom: 95px;
  /* making it a perfect circle */
  border-radius: 50%;
  width: 100px;
  z-index: 1;
}

.details {
  background: rgba(255, 255, 255, 0.707);
  position: absolute;
  bottom: 0px;
  width: 100%;
  z-index: 0;
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom-left-radius: 5%;
  border-bottom-right-radius: 5%;
  color: goldenrod;
}

/* SETTINGS STYLES */
.settings form, .todo form {
  flex: 1;
  display: flex;
}

.settings input, .todo input {
  flex: 1;
}

input[type="submit"],
input[type="submit"]:focus {
  color: #fff;
  border: none;
  background: rgba(70, 53, 11, 0.2);
  max-width: 50px;
  border-radius: 5%;
  font-size: 12px;
  font-weight: bold;
  border-bottom: 3px solid rgba(0, 0, 0, 0.2);
  border-right: 1px solid rgba(0, 0, 0, 0.2);
}

input[type="submit"]:hover {
  color: goldenrod;
  background: inherit;
  border: 1px goldenrod;
  box-shadow: 2px 2px 0 rgba(218, 165, 32, 0.707);
}

.settings input[type="text"],
.settings input[type="text"]:focus {
  color: #fff;
  border: none;
  background: rgba(41, 6, 153, 0.2);
  max-width: 400px;
}

#customTime {
  font-weight: bold;
  font-size: 16px;
  color: rgba(190, 26, 26);
}

h3 {
  padding: 0 10% 0 4%;
}

.alerts {
  text-align: center;
  color: goldenrod;
  font-family: "Inconsolata", monospace;
  font-weight: bold;
  width: 350px;
  padding-top: 1rem;
  margin: auto;
}

/* MEDIA QUERIES */
@media only screen and (min-width: 369px) {
  .timer {
    z-index: 0;
  }

  .timer__controls {
    margin-bottom: 40%;
  }

  .timer__button {
    margin: 1rem 2.5rem;
    font-size: 2rem;
  }

  .display__time-left { 
    font-size: 15rem;
  }

  .todo, .settings, .weather, .timedate {
    background: rgba(255, 255, 255);
  }

  .todo,
  .settings,
  .weather,
  .timedate {
    position: absolute;
    top: 5%;
  }

  .todo, .weather {
    left: 15%;
  }

  .settings, .timedate {
    right: 15%;
  }
}

@media only screen and (min-width: 969px) {
  .timer {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    z-index: 0;
  }
  .timer__button{
    margin: 0rem 2.5rem;
    font-size: 3rem;
  }
  .display__time-left { 
    font-size: 22rem;
  }

  .todo, .settings, .weather, .timedate {
    background: rgba(255, 255, 255, .707);
  }

  .todo,
  .weather {
    top: 25%;
    left: 5%;
  }

  .settings,
  .timedate {
    top: 25%;
    right: 5%;
  }
  .timer__controls {
    margin-bottom: 35%;
  }
}
